MainMenuPanel {
    pointer-events: all;
}

.mm-logo {
    padding: 4em;
    position: absolute;
    color: white;
}

.mm-options {
    padding: 4em;
    top: 30%;
    position: absolute;
    flex-direction: column;
}

.mm-option {
    font-size: 30em;
    margin-bottom: 10px;
    flex-direction: row;
    cursor: pointer;
    width: auto;
}

.mm-logo img {
    width: 20%;
    height: 20%;
}
