{
  "Version": 2,
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "ragdoll": "Ignore",
    "projectile": "Collide",
    "player_collider": "Unset",
    "zone": "Trigger",
    "gib": "Ignore",
    "self": "Unset",
    "sound": "Unset",
    "cart": "Unset",
    "terrorist-spawn": "Unset",
    "counterterrorist-spawn": "Unset",
    "terrorist": "Ignore",
    "counterterrorist": "Ignore"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "solid",
      "b": "player_collider",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "player_collider",
      "r": "Ignore"
    },
    {
      "a": "solid",
      "b": "ragdoll",
      "r": "Collide"
    },
    {
      "a": "solid",
      "b": "gib",
      "r": "Collide"
    },
    {
      "a": "self",
      "b": "self",
      "r": "Ignore"
    },
    {
      "a": "solid",
      "b": "projectile",
      "r": "Collide"
    },
    {
      "a": "solid",
      "b": "self",
      "r": "Collide"
    },
    {
      "a": "sound",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "player_collider",
      "b": "cart",
      "r": "Collide"
    },
    {
      "a": "projectile",
      "b": "projectile",
      "r": "Ignore"
    },
    {
      "a": "counterterrorist-spawn",
      "b": "terrorist",
      "r": "Collide"
    },
    {
      "a": "terrorist-spawn",
      "b": "counterterrorist",
      "r": "Collide"
    },
    {
      "a": "terrorist-spawn",
      "b": "terrorist",
      "r": "Ignore"
    },
    {
      "a": "counterterrorist-spawn",
      "b": "counterterrorist",
      "r": "Ignore"
    },
    {
      "a": "player_collider",
      "b": "counterterrorist-spawn",
      "r": "Trigger"
    },
    {
      "a": "player_collider",
      "b": "terrorist-spawn",
      "r": "Trigger"
    }
  ],
  "__guid": "91d3cd38-31ed-4507-a317-6c1deb2af8a5",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}