{
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "ragdoll": "Ignore",
    "projectile": "Collide",
    "player_collider": "Unset",
    "zone": "Trigger",
    "gib": "Ignore",
    "self": "Unset"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "solid",
      "b": "player_collider",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "player_collider",
      "r": "Ignore"
    },
    {
      "a": "projectile",
      "b": "player_collider",
      "r": "Collide"
    },
    {
      "a": "solid",
      "b": "ragdoll",
      "r": "Collide"
    },
    {
      "a": "solid",
      "b": "gib",
      "r": "Collide"
    },
    {
      "a": "self",
      "b": "self",
      "r": "Ignore"
    },
    {
      "a": "solid",
      "b": "projectile",
      "r": "Collide"
    },
    {
      "a": "solid",
      "b": "self",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "projectile"
    }
  ],
  "__guid": "91d3cd38-31ed-4507-a317-6c1deb2af8a5",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 1
}