{
  "Actions": [
    {
      "Name": "Forward",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "W",
      "GamepadCode": "None"
    },
    {
      "Name": "Backward",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "S",
      "GamepadCode": "None"
    },
    {
      "Name": "Left",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "A",
      "GamepadCode": "None"
    },
    {
      "Name": "Right",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "D",
      "GamepadCode": "None"
    },
    {
      "Name": "Jump",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "space",
      "GamepadCode": "None"
    },
    {
      "Name": "Duck",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "Ctrl",
      "GamepadCode": "B"
    },
    {
      "Name": "attack1",
      "GroupName": "Weapon",
      "Title": null,
      "KeyboardCode": "mouse1",
      "GamepadCode": "RightTrigger"
    },
    {
      "Name": "attack2",
      "GroupName": "Weapon",
      "Title": null,
      "KeyboardCode": "mouse2",
      "GamepadCode": "LeftTrigger"
    },
    {
      "Name": "reload",
      "GroupName": "Weapon",
      "Title": null,
      "KeyboardCode": "r",
      "GamepadCode": "X"
    },
    {
      "Name": "Voice",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "v",
      "GamepadCode": "RightJoystickButton"
    },
    {
      "Name": "Score",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "tab",
      "GamepadCode": "SwitchLeftMenu"
    },
    {
      "Name": "Chat",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "ENTER",
      "GamepadCode": "None"
    },
    {
      "Name": "Noclip",
      "GroupName": "Development",
      "Title": null,
      "KeyboardCode": "MOUSE4",
      "GamepadCode": "None"
    },
    {
      "Name": "Attack3",
      "GroupName": "Weapon",
      "Title": null,
      "KeyboardCode": "MOUSE3",
      "GamepadCode": "None"
    },
    {
      "Name": "ClassSelect",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": ",",
      "GamepadCode": "None"
    },
    {
      "Name": "Use",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "e",
      "GamepadCode": "None"
    },
    {
      "Name": "slot1",
      "GroupName": "Weapon",
      "Title": null,
      "KeyboardCode": "1",
      "GamepadCode": "None"
    },
    {
      "Name": "slot2",
      "GroupName": "Weapon",
      "Title": null,
      "KeyboardCode": "2",
      "GamepadCode": "None"
    },
    {
      "Name": "slot3",
      "GroupName": "Weapon",
      "Title": null,
      "KeyboardCode": "3",
      "GamepadCode": "None"
    }
  ],
  "__guid": "bcccc875-ac58-4719-a08e-4d5b3875734a",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}