DeathcamHud {
    .deathcam-hud {
        position: absolute;
        top: 25%;
        left: 30%;
        color: white;
        font-size: 48px;
        transform: translateX(-36px);
        background-color: black;
        padding: 24px;
        border-radius: 4px;
    }
}
