@import "/UI/Styles/Theme.scss";

PayloadIndicator {
    z-index: 100;
    border-radius: $rounding;
    flex-direction: column;
    width: 100%;
    height: 64px;
    top: 90%;
    align-items: center;

    .indicator {
        width: 50%;
        height: 32px;
    }

    .point {
        width: 32px;
        background-color: rgba(0, 0, 50, 0.8);
    }

    .path {
        transform: translate(0%, 50%);
        height: 16px;
        width: 320px;
        background-color: rgba(20, 255, 0, 0.8);
    }
}
